@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 28 90% 54%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: MundialRegular;
  src: local(Mundial-Regular);
  src: url(../public/fonts/MundialRegular.otf) format("truetype");
}

@font-face {
  font-family: MundialLight;
  src: local(Mundial-Light);
  src: url(../public/fonts/MundialLight.otf) format("truetype");
}

@font-face {
  font-family: MundialDemibold;
  src: local(Mundial-Demibold);
  src: url(../public/fonts/MundialDemibold.otf) format("truetype");
}

/* for checkbox  css */
.form-check-input {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  -webkit-appearance: none;
  border-radius: 0.25em;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #444;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url(../public//download.svg);
  background-position: center center;
}
.form-check-input:checked {
  background-color: #f38220 !important;
  border-color: #f38220 !important;
}

/* .details[open] {
} */
details {
  height: auto;
  max-height: 5rem; /* set to line height */
  transition: all 0.8s ease-in-out;
  transition-behavior: allow-discrete;
}

details[open] {
  max-height: 99rem;
  transition: all 0.8s ease-in-out;
}

details[close] {
  max-height: auto;
  transition: all 0.8s ease-in-out;
}

.callout-error {
  border-left-color: #f12641 !important;
  background-color: #fcedf0 !important;
}

.callout {
  padding: 10px;
  border: 1px solid transparent;
  border-left-width: 5px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
